<form method="POST" action="/admin/add-prod">
    <div id="prod-container">
        <label for="prod-name">Product Name</label>
        <input type="text" placeholder="product name" name="prodName">
        <button type="submit">Add Product</button>
    </div>
</form>