<h2>&#8226; List of all the products...</h2>

<div class="card">
    <img src="" alt="Denim Jeans" style="width:100%">
    <h1>Some Product</h1>
    <p class="price">$19.99</p>
    <p>Some text about the jeans..</p>
    <p><button>Add to Cart</button></p>
</div>